<p class="text-muted">
  O operator debounce cria um atraso na emissão de um observable baseado na
  emissão de outro.
</p>
<p class="text-muted">
  A cada vez que o observable base emite um valor ele se inscreve em outro
  observable e quando este, por sua vez, emitir um valor, ele retorna o valor do
  primeiro.
</p>
<p class="text-muted">
  Detalhe: Caso o observable pai, emita um segundo valor, antes do segundo o
  observable emitir, ele se desinscreverá do segundo observable e recomeçará o
  fluxo como se fosse a primeira
</p>

<div class="d-flex flex-column align-items-start">
  <button (click)="emitObservable()" class="btn btn-success">
    Emitir Observable
  </button>
</div>
